<div class="pokemon-stats">
  <div class="pokemon-stats__height row">
    <div class="col-2">
      Height:
    </div>
    <div class="col-10">
      {{format-height height}}
    </div>
  </div>

  <div class="pokemon-stats__weight row">
    <div class="col-2">
      Weight:
    </div>
    <div class="col-10">
      {{format-weight weight}}
    </div>
  </div>

  <div class="pokemon-stats__weight row">
    <div class="col-2">
      Types:
    </div>
    <div class="col-10">
      {{types}}
    </div>
  </div>
</div>
