<div class="right tomster">
  <h2>About Poke Fun</h2>
  <p>
    The Poke Fun website is a fun exercise to get reacquanited with the Ember framework.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt obcaecati similique
    quasi omnis architecto adipisci vitae fuga ratione, consequatur tempore!
  </p>
  {{#link-to "contact" class="btn btn-primary"}}
    Contact Us
  {{/link-to}}
</div>
