<div class="right tomster">
  <h2>WE ARE NOT DIGIMON</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque reiciendis 
    natus nesciunt ratione voluptate in eaque dolore aut beatae nisi.
  </p>
  {{#link-to "about" class="btn btn-primary"}}
    About Us
  {{/link-to}}
</div>

<h2>OG LIZARDS</h2>

{{!-- this.model is returned from pokemon route's JS file --}}
{{#each this.model as |pokemon|}}
  {{!-- Passing pokemon data into an attribute also called pokemon --}}
  {{pokemon-details pokemonAttr=pokemon}}
{{/each}}